# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: github CI
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
      - cron: '0 23 * * 0' # run every sunday

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
  
    name: ${{ matrix.os }}-py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14, macos-latest]
        # python versions
        python-version: ["3.10", "3.12", "3.13"]
        
    steps:
    
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
          
      - name: Set environment variables
        run: |
          echo "CONDA_ENV_FILE=ci/environment.yml" >> $GITHUB_ENV
          echo "PYTHON_VERSION=${{ matrix.python-version }}" >> $GITHUB_ENV
          
      - name: Create conda environment
        uses: mamba-org/setup-micromamba@v2
        with:
          cache-downloads: true
          cache-downloads-key: "${{runner.os}}-${{runner.arch}}-py${{matrix.python-version}}"
          environment-file: ci/environment.yml
          create-args: >-
            python=${{ matrix.python-version }}
            
      - name: Install on Linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
            pip install .

      - name: Install on MacOS-14
        if: ${{ matrix.os == 'macos-14' }}
        run: |
            FC=gfortran-14 pip install .

      - name: Install on MacOS-latest
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
            # https://github.com/actions/runner-images/issues/1280#issuecomment-662839485
            FC=gfortran-15 pip install .
            
      - name: Version info
        run: |
          micromamba info -a
          micromamba list
          
      - name: Import pyfort
        run: |
          python -c "import pyfort"
          python -c "import numpy as np; import pyfort; a = np.zeros(9); pyfort.fib(a); print (a)"
          python -c "import numpy as np; from pyfort import mo_fib"
